@import "tailwindcss";

@variant dark (&:is(.dark *));

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

.dark {
  --background: #0B0E14;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-lumara-white: #ffffff;
  --color-lumara-transparent: transparent;

  /* Colores marca Lumara */
  --color-lumara-primary: #1E504F;
  --color-lumara-primary-hover: #153a39;
  --color-lumara-secondary: #FF4C15;
  --color-lumara-tertiary: #f6b9a4;
  --color-lumara-tertiary-hover: #f6a488;
  --color-lumara-quaternary: #48aead;
  --color-lumara-secondary-hover: #E64413;
  --color-lumara-font: #cc5734;
  --color-lumara-font-green: #234342;
  /* Grises modo claro */
  --color-lumara-gray-50: #f9fafb;
  --color-lumara-gray-100: #f3f4f6;
  --color-lumara-gray-400: #9ca3af;
  --color-lumara-gray-900: #111827;

  /* Capas modo oscuro */
  --color-lumara-dark-800: #21262D;
  --color-lumara-dark-900: #161B22;
  --color-lumara-dark-950: #0B0E14;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
